MARKETING_VERSION = 8.4.2
CURRENT_PROJECT_VERSION = 8.4.2.3

POD_OMSDK_VERSION = 1.6.0

POD_APPLOVIN_SDK_VERSION = 13.5.0
POD_APPLOVIN_ADAPTER_VERSION = 8.4.1.0

POD_IRONSOURCE_SDK_VERSION = 9.1.0.0
POD_IRONSOURCE_ADAPTER_VERSION = 5.2.0.0
POD_IRONSOURCE_ADAPTER_URL_VERSION = 5.2.0

POD_GOOGLE_SDK_VERSION = 12.13.0
POD_GOOGLE_ADAPTER_VERSION = 8.4.1.0
