MARKETING_VERSION = 8.4.10
CURRENT_PROJECT_VERSION = 8.4.10.2

POD_OMSDK_VERSION = 1.6.0

POD_APPLOVIN_SDK_VERSION = 13.6.3
POD_APPLOVIN_ADAPTER_VERSION = 8.4.7.0

POD_IRONSOURCE_SDK_VERSION = 9.4.2.0
POD_IRONSOURCE_ADAPTER_VERSION = 5.8.0.0
POD_IRONSOURCE_ADAPTER_URL_VERSION = 5.8.0

POD_GOOGLE_SDK_VERSION = 13.6.0
POD_GOOGLE_ADAPTER_VERSION = 8.4.7.1