MARKETING_VERSION = 8.4.1
CURRENT_PROJECT_VERSION = 8.4.1.0

POD_OMSDK_VERSION = 1.5.4

POD_APPLOVIN_SDK_VERSION = 13.4.0
POD_APPLOVIN_ADAPTER_VERSION = 8.4.0.0

POD_IRONSOURCE_SDK_VERSION = 8.11.0.0
POD_IRONSOURCE_ADAPTER_VERSION = 4.3.43.2
POD_IRONSOURCE_ADAPTER_URL_VERSION = 4.3.43

POD_GOOGLE_SDK_VERSION = 12.12.0
POD_GOOGLE_ADAPTER_VERSION = 8.3.8.0
