MARKETING_VERSION = 8.3.4
CURRENT_PROJECT_VERSION = 8.3.4.2

POD_OMSDK_VERSION = 1.5.2

POD_APPLOVIN_SDK_VERSION = 13.0.1
POD_APPLOVIN_ADAPTER_VERSION = 8.3.2.1

POD_IRONSOURCE_SDK_VERSION = 8.5.0.0
POD_IRONSOURCE_ADAPTER_VERSION = 4.3.37.0
POD_IRONSOURCE_ADAPTER_URL_VERSION = 4.3.37

POD_GOOGLE_SDK_VERSION = 11.12.0
POD_GOOGLE_ADAPTER_VERSION = 8.3.2.1
