MARKETING_VERSION = 8.3.7
CURRENT_PROJECT_VERSION = 8.3.7.4

POD_OMSDK_VERSION = 1.5.4

POD_APPLOVIN_SDK_VERSION = 13.2.0
POD_APPLOVIN_ADAPTER_VERSION = 8.3.6.0

POD_IRONSOURCE_SDK_VERSION = 8.8.0.0
POD_IRONSOURCE_ADAPTER_VERSION = 4.3.42.0
POD_IRONSOURCE_ADAPTER_URL_VERSION = 4.3.42

POD_GOOGLE_SDK_VERSION = 12.3.0
POD_GOOGLE_ADAPTER_VERSION = 8.3.6.0
