MARKETING_VERSION = 8.3.6
CURRENT_PROJECT_VERSION = 8.3.6.4

POD_OMSDK_VERSION = 1.5.2

POD_APPLOVIN_SDK_VERSION = 13.1.0
POD_APPLOVIN_ADAPTER_VERSION = 8.3.5.1

POD_IRONSOURCE_SDK_VERSION = 8.5.1.0
POD_IRONSOURCE_ADAPTER_VERSION = 4.3.41.0
POD_IRONSOURCE_ADAPTER_URL_VERSION = 4.3.41

POD_GOOGLE_SDK_VERSION = 11.13.0
POD_GOOGLE_ADAPTER_VERSION = 8.3.4.0
